DJANGO_SECRET_KEY=hwghrhjkrg;OUGEHUb;ouerglrigbeougrbjgvzsbg;seusergjbrlzbg;oewgz
DJANGO_DEBUG=True
DATABASE_URL='postgresql://neondb_owner:npg_bf0YgMQx4EvT@ep-rapid-rain-b5ryqoxm-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
DJANGO_ALLOWED_HOSTS=localhost,*
DJANGO_ADMIN_URL="admin/"

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

# Email
# ------------------------------------------------------------------------------
DJANGO_SERVER_EMAIL=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=


# AWS
# ------------------------------------------------------------------------------
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=


# Redis
# ------------------------------------------------------------------------------
REDIS_URL=
CELERY_BROKER_URL=
# Celery
# ------------------------------------------------------------------------------
BACKEND_CACHE_DB_AVAILABLE=False
# Flower
CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug

USE_DOCKER="yes"

OAUTH2_GOOGLE_CLIENT_ID=
OAUTH2_GOOGLE_CLIENT_SECRET=